<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118784967487-9hu33mgraasu85occs68lcrovdda46me.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118784967487-9hu33mgraasu85occs68lcrovdda46me</string>
	<key>API_KEY</key>
	<string>AIzaSyB9Y62-fEsBmbXAzoLIeaa84S6WN173RSU</string>
	<key>GCM_SENDER_ID</key>
	<string>118784967487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodapp</string>
	<key>PROJECT_ID</key>
	<string>shopapp-58f10</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-58f10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118784967487:ios:c4fb63143c8eceb950098a</string>
</dict>
</plist>